{% extends 'frontoffice.html.twig' %}

{% block title %}Aventures du Professeur !{% endblock %}

{% block body %}

    <style>
        .em-main-page { margin: 1em auto; max-width: 1000px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>

    <div class="em-main-page">
        <h1>Les aventures du Professeur Layton</h1>

        <ul>
            {% if adventures is defined and adventures is not empty %}
                {% for jeu in adventures %}
                    <tr>
                        <td>{{ jeu.Nom }}</td>
                        <td>{{ jeu.Boite|raw }}</td>
                        <td>{{ jeu.Date ? jeu.Date|date('Y-m-d') : '' }}</td>
                        <td>{{ jeu.Description|raw }}</td>
                    </tr>
                {% endfor %}
            {% else %}
                <li>
                    Aucune aventure trouvée dans la base... :(
                </li>
            {% endif %}
        </ul>
    </div>

{% endblock %}
