{% extends 'backoffice.html.twig' %}

{% block title %}Modification d'un personnage{% endblock %}

{% block body %}
    <h1>Modification d'un personnage</h1>

    {{ include('em_character/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('e_m_character_index') }}">Retour à la liste</a>

    {{ include('em_character/_delete_form.html.twig') }}
{% endblock %}
