{% extends 'backoffice.html.twig' %}

{% block title %}Ajouter un nouveau personnage{% endblock %}

{% block body %}
    <h1>Ajouter un nouveau personnage</h1>

    {{ include('em_character/_form.html.twig') }}

    <a href="{{ path('e_m_character_index') }}">Retour à la liste</a>
{% endblock %}
