{% extends 'frontoffice.html.twig' %}

{% block title %}Liste des énigmes{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Liste des énigmes </h1>

    <ul>
        {% if puzzles is defined and puzzles is not empty %}
            {% for puzzle in puzzles %}
                <tr>
                    <td>{{ puzzle.Jeu }}</td>
                    <td>{{ puzzle.Numero }}</td>
                    <td>{{ puzzle.Enonce|raw }}</td>
                    <td>{{ puzzle.Solution|raw }}</td>
                </tr>
            {% endfor %}
        {% else %}
            <li>
                Aucun personnage trouvé dans la base... :(
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}
